.vscode/**
.vscode-test/**
.github/**
.gitmodules
.node-version
.oxfmtrc.json
.oxlintrc.json
.release-please-manifest.json
.rumdl_cache/**
.yamllint
.yarnrc.yml
out/**
node_modules/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/*.map
**/*.ts
hk.pkl
mise.toml
pnpm-lock.yaml
pnpm-workspace.yaml
release-please-config.json
third_party/**
syntax/src/**
